ul {
    margin: 0;
    padding-right: 30%;
    padding-left: 30%;
    margin: 10%;
    text-align: justify;
    font-size: 20px;
    font-family: 'Lemonada', cursive;
}

body {
    padding: 2%;
    margin: 2%;
}

h3 {
    font-family: 'Sriracha', cursive;
}

h1 {
    text-align: center;
    padding: 2%;
    margin: 2%;
}

img {
    width: 100px;
    margin: 5%;
}

.contacts {
    text-align: justify;
    padding: 2%;
    margin: 2%;
}

.youtube {
    margin: 2%;
}

.facebook {
    margin: 2%;
}

.instagram{
    margin:2%;
}

.gmail{
    margin:2%;
}

footer {
    text-align: center;
    background-image: url("footer.png");
    padding: 3%;
}


.facebook_photo{
    width: 40px;
    margin: 10px;
}

.instagram_photo{
    width: 40px;
    margin: 10px;
}

.gmail_photo{
    width: 40px;
    margin: 10px;
}

.youtube_icon{
    width: 40px;
    margin: 10px; 
}